/*-----------------------------------------------------------------------------------

    Theme Name: Fabrex - One Page Portfolio
    Description: One Page Portfolio Template
    Author: Chitrakoot Web

-----------------------------------------------------------------------------------*/
/* ----------------------------------

Table of contents
        
    01. Basic
    02. Navbar
    03. Header
    04. Sidebar
    05. Skill Progress
    06. Feature boxes
    07. Portfolio
    08. Testimonials
    09. Contact
    10. Blog
    11. Footer
    12. Responsive
    
---------------------------------- */

$PrimaryColor: #232323;
$BlackColor: #000;
$WhiteColor: #fff;

$desk-xl-screen: 1399px;
$desk-sm-screen: 992px;
$desk-xs-screen: 991px;
$tablet-xs-screen: 767px;
$mobile-sm-screen: 575px;
$mobile-xs-screen: 420px;

/*============================== 
    Basic
================================*/

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

/* loader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: $WhiteColor;
  display: table;
  text-align: center;
}

.loader {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
}

.loader-icon {
  width: 80px;
  height: 80px;
  border: 5px solid $PrimaryColor;
  border-right-color: #eee;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  margin: 0 auto;
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

body, .main-font {
  font-family: 'Poppins', sans-serif;
}

.theme-black-color {
  color: $PrimaryColor;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  &:hover, &:active {
    color: $PrimaryColor;
    text-decoration: none;
  }
}

/*button*/
 .btn {
  display: inline-block;
  font-size: 14px;
  padding: 9px 22px;
  background: $WhiteColor;
  border: 2px solid $WhiteColor;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
  color: $PrimaryColor;
  letter-spacing: .5px;
  line-height: inherit;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  &:hover, &:active {
    background: $PrimaryColor;
    color: $WhiteColor;
    border-color: $WhiteColor;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px !important;
  }
  &:hover span, &:active span {
    color: $WhiteColor;
  }
  &:focus {
    background: $PrimaryColor;
    color: $WhiteColor;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px !important;
    border-color: $WhiteColor;
    span {
      color: $WhiteColor;
    }
  }
  span {
    color: $PrimaryColor;
  }
  &.white {
    background: $WhiteColor;
    border: 2px solid $PrimaryColor;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
    color: $PrimaryColor;
    &:hover, &:active {
      background: $PrimaryColor;
      color: $WhiteColor;
      border-color: $PrimaryColor;
    }
    &:hover span, &:active span {
      color: $WhiteColor;
    }
    &:focus {
      background: $PrimaryColor;
      color: $WhiteColor;
      border-color: $PrimaryColor;
      span {
        color: $WhiteColor;
      }
    }
    span {
      color: $PrimaryColor;
    }
  }
  &.black {
    background: $PrimaryColor;
    border: 2px solid $PrimaryColor;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
    color: $WhiteColor;
    &:hover, &:active {
      background: $WhiteColor;
      color: $PrimaryColor;
      border-color: $PrimaryColor;
    }
    &:hover span, &:active span {
      color: $PrimaryColor;
    }
    &:focus {
      background: $WhiteColor;
      color: $WhiteColor;
      border-color: $PrimaryColor;
      span {
        color: $PrimaryColor;
      }
    }
    span {
      color: $WhiteColor;
    }
  }
}

/*title*/
 .section-title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 0;
  &:after {
    content: '';
    width: 60px;
    height: 2px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
  }
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
  }
}

/*social link*/
 .social-links a {
  display: inline-block;
  margin: 0 12px;
  font-size: 18px;
  color: #939393;
  &:hover {
    color: $PrimaryColor;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.hover-white a:hover {
  color: $WhiteColor;
}

/* Owl theme control */
.owl-theme .owl-dots .owl-dot {
  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #d5d5d5;
    margin: 5px 4px 0 4px;
    border: 2px solid #d5d5d5;
  }
  &.active span, &:hover span {
    background: $PrimaryColor;
    border-color: $PrimaryColor;
  }
}

/*============================== 
    Navbar
================================*/
 .navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  min-height: 70px;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  .icon-bar {
    color: $WhiteColor;
  }
  &.bg-white .icon-bar {
    color: $PrimaryColor;
  }
  .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 600;
    color: #dadada;
    letter-spacing: .5px;
    margin: 0;
    padding: 10px 15px;
    transition: all .5s;
    text-align: left;
    text-transform: uppercase;
    &:hover {
      color: $WhiteColor;
    }
    &.active {
      color: $WhiteColor;
      position: relative;
    }
  }
  &.nav-scroll {
    background: $WhiteColor;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition: transform .5s;
    transform: translateY(100px);
    &.bg-medium-dark-gray .icon-bar {
      color: $WhiteColor;
    }
    .icon-bar {
      color: $PrimaryColor;
    }
    .navbar-nav {
      .nav-link {
        color: #828282;
        &:hover, &.active {
          color: $PrimaryColor;
        }
      }
      .logo {
        padding: 15px 0;
      }
    }
  }
  &.bg-medium-dark-gray {
    background: #191919;
    .navbar-nav .nav-link {
      color: #a0a0a0;
      &.active {
        color: $WhiteColor;
      }
    }
    &.nav-scroll .navbar-nav .nav-link {
      color: #a0a0a0;
    }
    .navbar-nav .nav-link:hover, &.nav-scroll .navbar-nav .nav-link.active {
      color: $WhiteColor;
    }
    .sidemenu_btn > span {
      background: $WhiteColor;
    }
    &.nav-scroll {
      background: #191919;
    }
  }
  &.bg-black-scroll {
    &.nav-scroll .navbar-nav .nav-link {
      color: #a0a0a0;
      &.active {
        color: $WhiteColor;
      }
    }
    .sidemenu_btn > span {
      background: $WhiteColor;
    }
    &.nav-scroll {
      background: $BlackColor;
    }
  }
  &.bg-light-gray {
    background: #f7f7f7;
    .navbar-nav .nav-link {
      color: #828282;
      &.active {
        color: $PrimaryColor;
      }
    }
    &.nav-scroll .navbar-nav .nav-link {
      color: #828282;
    }
    .navbar-nav .nav-link:hover, &.nav-scroll .navbar-nav .nav-link.active {
      color: $PrimaryColor;
    }
    .sidemenu_btn > span {
      background: $PrimaryColor;
    }
    &.nav-scroll {
      background: $WhiteColor;
    }
  }
  &.bg-white {
    background: $WhiteColor;
    .navbar-nav .nav-link {
      color: $PrimaryColor;
      &.active {
        color: $WhiteColor;
      }
    }
    &.nav-scroll .navbar-nav .nav-link {
      color: $PrimaryColor;
    }
    .navbar-nav .nav-link:hover, &.nav-scroll .navbar-nav .nav-link.active {
      color: $WhiteColor;
    }
  }
}

.logo {
  padding: 15px 0;
  width: 125px;
}

/*============================== 
    Header
================================*/
 .header {
  overflow: hidden;
  .caption {
    .overflow-hidden {
      display: inline-block;
    }
    h3 {
      font-weight: 200;
      animation-delay: 0.5s;
      position: relative;
      display: inline-block;
    }
    h1 {
      margin: 10px 0;
      font-size: 70px;
      font-weight: 500;
      animation-delay: 0.8s;
    }
    p {
      font-size: 18px;
      color: #eee;
      word-spacing: 2px;
      animation-delay: 1.2s;
    }
  }
  .btn {
    animation-delay: 1.4s;
    i {
      position: relative;
      top: 1px;
    }
  }
  .bg-dark-gray .social-links a:hover {
    color: $PrimaryColor;
  }
}

/* banner */
@media screen and (max-width: $mobile-xs-screen) {
  .header .bg-img {
    background-position: -390px 0 !important;
  }
}

/*============================== 
    Sidebar
================================*/
 .side-menu {
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  background: $WhiteColor;
  z-index: 1032;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: -o-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease, -o-transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  overflow: hidden;
  &.left {
    left: 0;
    right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  &.side-menu-active, &.before-side {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .navbar-brand {
    margin: 0 0 2.5rem 0;
  }
}

/*Side overlay*/
 #close_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $BlackColor;
  -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  display: none;
  z-index: 1031;
  opacity: 0.4;
}

/*side close btn*/
.side-menu {
  .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer;
  }
  &.before-side .btn-close {
    display: none;
  }
  .btn-close {
    &:before, &:after {
      position: absolute;
      left: 16px;
      content: ' ';
      height: 24px;
      width: 2px;
      background: $PrimaryColor;
      top: 5px;
    }
    &:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

/*side open btn*/
 .sidemenu_btn {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  width: 36px;
  padding: 6px;
  margin-right: 1rem;
  position: absolute;
  right: 25px;
  top: 22px;
  z-index: 99;
  &.left {
    left: 15px;
    right: auto;
  }
  > span {
    height: 2px;
    width: 100%;
    background: $WhiteColor;
    display: block;
    &:nth-child(2) {
      margin: 4px 0;
    }
  }
}

.nav-scroll .sidemenu_btn > span {
  background: $PrimaryColor;
}

.bg-medium-dark-gray.nav-scroll .sidemenu_btn > span {
  background: $WhiteColor;
}

.bg-light-gray.nav-scroll .sidemenu_btn > span {
  background: $PrimaryColor;
}

.bg-medium-dark-gray .sidemenu_btn > span {
  background: $WhiteColor;
}

.side-menu {
  .inner-wrapper {
    padding: 3.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .side-nav {
    margin-bottom: 30px;
    display: block;
  }
}

.side-nav .navbar-nav .nav-item {
  display: block;
  margin: 10px 0;
  padding: 0 !important;
  opacity: 0;
  -webkit-transition: all 0.8s ease 500ms;
  -o-transition: all 0.8s ease 500ms;
  transition: all 0.8s ease 500ms;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  &:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
  }
  &:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }
  &:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  }
  &:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
  }
  &:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
  }
  &:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
  }
  &:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
  }
  &:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
  }
  &:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
  }
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.side-nav .navbar-nav .nav-link {
  display: inline-table;
  color: $PrimaryColor;
  padding: 2px 0 3px 0 !important;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: normal;
  position: relative;
  -webkit-border-radius: 0;
  border-radius: 0;
  &:after {
    content: "";
    position: absolute;
    background: $PrimaryColor;
    display: inline-block;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  }
  &:hover:after, &:focus:after {
    width: 100%;
  }
  &.active {
    background: transparent;
    &:after {
      width: 100%;
    }
  }
}

.side-menu {
  .social-links a {
    color: #939393;
    &:hover {
      color: $PrimaryColor;
    }
  }
  &.black {
    background: rgba(0, 0, 0, 0.95);
    .btn-close {
      &:before, &:after {
        background: $WhiteColor;
      }
    }
    .side-nav .navbar-nav .nav-link {
      color: $WhiteColor;
      &:after {
        background: $WhiteColor;
      }
      &.active {
        background: transparent;
      }
    }
    .social-links a:hover {
      color: $WhiteColor;
    }
  }
}

/* Side Left Panel*/
 .side-menu.left-panel {
  display: none;
}

@media screen and (min-width: $desk-sm-screen){
 /* Side Left Panel*/
 .side-menu.left-panel {
  width: 250px;
  left: 0;
  right: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  .side-nav {
    margin-bottom: 15px;
  }
  .inner-wrapper {
    padding: 2rem;
    overflow-x: hidden;
  }
  .profile-pic {
    float: left;
    width: 100%;
    text-align: left;
  }
  .profile-list {
    margin: 0 0 10px 0;
    li {
      margin-bottom: 5px;
    }
  }
}
}

/*============================== 
    Skill Progress
================================*/
 .skills .prog-item {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .skills-progress {
    width: 100%;
    height: 5px;
    background: #eee;
    border-radius: 5px;
    position: relative;
    span {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: #474747;
      width: 10%;
      border-radius: 10px;
      transition: all 1s;
      &:after {
        content: attr(data-value);
        position: absolute;
        top: -20px;
        right: 0;
        font-size: 10px;
        color: #777;
      }
    }
  }
}

.bg-extra-medium-gray .skills .prog-item .skills-progress, .bg-dark-gray .skills .prog-item .skills-progress {
  background: $BlackColor;
}

.bg-extra-medium-gray .skills .prog-item .skills-progress span, .bg-dark-gray .skills .prog-item .skills-progress span {
  background: #e6e6e6;
}

.bg-extra-medium-gray .skills .prog-item .skills-progress span:after, .bg-dark-gray .skills .prog-item .skills-progress span:after {
  color: $WhiteColor;
}

/*============================== 
    Feature boxes
================================*/
.feature-box01 .feature-icon{ border-radius: 50%; height: 70px; line-height: 80px; transition: all 0.5s ease 0s; width: 70px; }
.feature-box01:hover .feature-icon{ background-color: $PrimaryColor; }
.feature-box01:hover .icon{ color: $WhiteColor; }

/*============================== 
    Portfolio
================================*/
 .portfolio {
  overflow: hidden;
  .filtering {
    span {
      margin-right: 8px;
      color: #333;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid #d5d5d5;
      border-radius: 30px;
      padding: 5px 20px;
      display: inline-block;
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
      &:hover {
        border-color: $PrimaryColor;
        background: $PrimaryColor;
        color: $WhiteColor;
      }
    }
    .active {
      border-color: $PrimaryColor;
      background: $PrimaryColor;
      color: $WhiteColor;
    }
  }
  .items {
    margin-top: 30px;
  }
  .item-img {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    &:hover {
      .item-img-overlay {
        opacity: 1;
        transform: translateY(0);
      }
      h6 {
        transform: translateY(0);
      }
    }
    h6 {
      font-weight: 600;
      position: relative;
      font-size: 16px;
      margin-bottom: 0;
      text-transform: capitalize;
      transform: translateY(15px);
      transition: all .5s;
    }
    .fa {
      background: $PrimaryColor;
      border: 1px solid $PrimaryColor;
      border-radius: 50%;
      color: $WhiteColor;
      display: inline-block;
      height: 30px;
      line-height: 28px;
      width: 30px;
      margin-bottom: 5px;
      transition: all .5s;
      &:hover {
        background: $WhiteColor;
        color: $PrimaryColor;
      }
    }
  }
  .item-img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255, 255, 255, 0.95);
    color: #35424C;
    opacity: 0;
    transition: all .5s;
    z-index: 2;
    transform: translateY(10px);
  }
}

.bg-extra-medium-gray.portfolio .filtering span {
  color: $WhiteColor;
}

/*============================== 
    Testimonials
================================*/
.testimonials {
  h4 {
    font-size: 16px;
    margin: 0;
    line-height: normal;
    font-weight: 600;
  }
  p {
    margin-bottom: 0;
    line-height: 28px;
  }
  h6 {
    font-size: 12px;
    margin: 0;
  }
  .owl-theme .owl-dots {
    margin-top: 40px !important;
    .owl-dot span {
      border-color: 1px solid $WhiteColor;
      width: 10px;
      height: 10px;
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .testimonials .owl-theme .owl-dots {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: $tablet-xs-screen) {
  .testimonials .owl-theme .owl-dots {
    margin-top: 20px !important;
  }
}

/*============================== 
    Contact
================================*/
.contact {
  .map {
    padding: 0;
    position: relative;
    z-index: 4;
    height: 400px;
  }
  .info .item {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }
    .icon {
      text-align: center;
    }
    .cont {
      h6 {
        font-size: 18px;
        margin-bottom: 5px;
        line-height: normal;
      }
      p {
        margin: 0;
      }
    }
  }
}


/*============================== 
    Blog
================================*/
 .blog .item {
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  background: $WhiteColor;
  height: 100%;
  .post-img {
    position: relative;
    overflow: hidden;
    &:hover img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    img {
      width: 100%;
      -webkit-filter: none;
      filter: none;
      transition: 0.3s;
    }
  }
  .content {
    padding: 30px;
    text-align: left;
    .tag {
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    .read-more {
      margin-top: 20px;
      color: $PrimaryColor;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 10px;
      line-height: normal;
    }
    h5 {
      font-size: 16px;
      line-height: normal;
      text-transform: inherit;
      a {
        color: $PrimaryColor;
      }
    }
  }
}

.blog-nav {
  position: static !important;
  background: $WhiteColor !important;
  margin: 0;
  top: 0 !important;
  transform: translateY(0px) !important;
  .logo {
    color: #1c1c1c !important;
  }
  .navbar-nav .nav-link {
    color: #828282;
    &:hover {
      color: $PrimaryColor;
    }
  }
  &.navbar .icon-bar {
    color: $PrimaryColor;
  }
}

.blog-header {
  background: $PrimaryColor;
  position: relative;
  h5 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #d6d5d5;
    margin-bottom: 15px;
  }
  a {
    position: relative;
    color: #d5d5d5;
    &:after {
      content: '/';
      position: relative;
      margin: 0 10px;
    }
    &:last-child:after {
      display: none;
    }
    &:hover, &.active {
      color: $WhiteColor;
    }
  }
}

/* pagination */
 .blogs {
  .posts {
    .post {
      margin-bottom: 30px;
      .content {
        padding: 30px;
        background: #fafafa;
        .post-title h5 {
          font-size: 26px;
          line-height: normal;
          font-weight: 500;
          margin-bottom: 0;
          a {
            color: $PrimaryColor;
            &:hover {
              color: $PrimaryColor;
            }
          }
        }
        .meta {
          margin-bottom: 15px;
          li {
            display: inline-block;
            font-size: 12px;
            color: #777;
            margin: 5px;
          }
        }
        .spical {
          padding: 15px;
          margin: 30px 0;
          border-left: 2px solid #111;
          background: #f7f7f7;
          font-size: 16px;
        }
      }
      .share-post {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px dashed #eee;
        text-align: left;
        span {
          font-weight: 700;
        }
        ul {
          float: right;
          li {
            display: inline-block;
            margin: 0 10px;
          }
        }
      }
      .post-img img {
        width: 100%;
      }
    }
    .title-g h3 {
      font-weight: 700;
      font-size: 25px;
    }
    .comments-area .comment-box {
      padding-bottom: 30px;
      margin-bottom: 50px;
      border-bottom: 1px solid #eee;
      &:nth-child(odd) {
        margin-left: 80px;
      }
      &:last-child {
        margin-bottom: 30px;
      }
      .author-thumb {
        width: 80px;
        float: left;
      }
      .comment-info {
        margin-left: 100px;
        h6 {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .reply {
          margin-top: 10px;
          font-weight: 600;
          i {
            padding-right: 5px;
            font-size: 12px;
          }
        }
      }
    }
    .pagination {
      border-radius: 0;
      padding: 0;
      margin: 0;
      ul {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin: 0 auto;
        padding: 0;
      }
      li {
        display: inline;
      }
      a {
        float: left;
        padding: 0 18px;
        line-height: 40px;
        text-decoration: none;
        border: 1px solid #dbdbdb;
        border-left-width: 0;
        background: $WhiteColor;
        &:hover {
          background-color: $PrimaryColor;
          color: $WhiteColor;
        }
      }
      .active a {
        background-color: #f7f7f7;
        color: #999;
        cursor: default;
      }
      .disabled {
        span {
          color: #999;
          background-color: transparent;
          cursor: default;
        }
        a {
          color: #999;
          background-color: transparent;
          cursor: default;
          &:hover {
            color: #999;
            background-color: transparent;
            cursor: default;
          }
        }
      }
      li:first-child a {
        border-left-width: 1px;
      }
    }
  }
  .side-bar {
    .widget {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      .widget-title h6 {
        position: relative;
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
        &:after {
          content: '';
          width: 30px;
          height: 1px;
          background: $PrimaryColor;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      li {
        position: relative;
        padding: 0 0 0 12px;
        margin: 0 0 9px 0;
        color: #6f6f6f;
        &:last-child {
          margin: 0;
        }
        &:after {
          content: "";
          width: 5px;
          height: 1px;
          background-color: #6f6f6f;
          position: absolute;
          top: 12px;
          left: 0;
        }
      }
      .social-listing {
        margin-bottom: 0;
        li {
          list-style: none;
          display: inline-block;
          &:after {
            background: none;
          }
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
    .search form {
      input {
        width: calc(100% - 50px);
        height: 50px;
        padding: 0 10px;
        margin: 0;
        border: 1px solid #d1d1d1;
        background: #f7f7f7;
      }
      button {
        width: 50px;
        height: 50px;
        line-height: 50px;
        background: #1c1c1c;
        color: $WhiteColor;
        border: 0;
        float: right;
      }
    }
  }
}

/*============================== 
    Footer
================================*/
 .footer-bottom {
  padding: 25px 0px;
  a:hover {
    color: $BlackColor;
  }
}

.back-to-top {
  background: #6f6f6f;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 15px;
  width: 35px;
  height: 35px;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity = 0);
  -webkit-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;
  i {
    position: absolute;
    left: 50%;
    top: 45%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $WhiteColor;
    font-size: 16px;
  }
  &:hover {
    background: $PrimaryColor !important;
  }
  &.reveal {
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 1;
    filter: alpha(opacity = 100);
    &:focus, &:hover, &:active {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
  }
}

/*============================== 
    Responsive
================================*/
@media screen and (min-width: $desk-sm-screen) {
  .navbar-expand-lg .navbar-collapse.desktop-hide {
    display: none !important;
  }
}
@media screen and (max-width: $desk-xl-screen) {
  .navbar > .container {
    padding-right: 3.5rem;
  }
  .sidemenu_btn {
    margin-right: 0;
  }
}
@media screen and (max-width: $desk-xs-screen){ 
.navbar {
  > .container {
    padding-right: 0;
  }
  .icon-bar {
    color: $WhiteColor;
  }
  &.bg-white .icon-bar {
    color: $PrimaryColor;
  }
  .navbar-nav {
    background: #f7f7f7;
    .nav-link {
      color: #828282;
      padding: 8px 15px;
      &:hover, &.active {
        color: $PrimaryColor;
      }
    }
  }
}

.nav-scroll .navbar-nav {
  background: #f7f7f7;
  .nav-link {
    color: $PrimaryColor !important;
    opacity: 0.65;
  }
  .active {
    color: $PrimaryColor !important;
    opacity: 1;
  }
}

 /*header bg-black-theme */
  .navbar {
  &.bg-medium-dark-gray {
    background: #191919;
    .icon-bar {
      color: $WhiteColor;
    }
    .navbar-nav .nav-link {
      color: #191919;
      opacity: 0.65;
      &.active {
        color: #191919;
        opacity: 1;
      }
    }
    &.nav-scroll .navbar-nav .nav-link {
      color: #191919;
      opacity: 0.65;
    }
    .navbar-nav .nav-link:hover, &.nav-scroll .navbar-nav .nav-link.active {
      color: #191919;
      opacity: 1;
    }
  }
  &.bg-medium-dark-gray-scroll .icon-bar {
    color: $WhiteColor;
  }
  &.bg-black-scroll {
    &.nav-scroll .navbar-nav .nav-link {
      color: #191919;
      opacity: 0.65;
    }
    .navbar-nav .nav-link:hover, &.nav-scroll .navbar-nav .nav-link.active {
      color: #191919;
      opacity: 1;
    }
  }
  &.bg-light-gray {
    background: #f7f7f7;
    .navbar-nav {
      background: $WhiteColor;
    }
    .icon-bar {
      color: #191919;
    }
    .navbar-nav .nav-link {
      color: #191919;
      opacity: 0.65;
      &.active {
        color: #191919;
        opacity: 1;
      }
    }
    &.nav-scroll .navbar-nav {
      background: #f7f7f7;
      .nav-link {
        color: $WhiteColor;
      }
    }
    .navbar-nav .nav-link:hover, &.nav-scroll .navbar-nav .nav-link.active {
      color: #191919;
    }
  }
}

 /*header bg-light-gray */
  .header {
  transition-timing-function: none;
  -moz-transition-timing-function: none;
  -webkit-transition-timing-function: none;
  -o-transition-timing-function: none;
  -ms-transition-timing-function: none;
  transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  .caption {
    h2 {
      font-size: 30px;
    }
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 16px;
    }
  }
  .social-links a {
    font-size: 16px;
  }
}
 }
@media screen and (max-width: $tablet-xs-screen) {
  .portfolio .items {
    margin-top: 20px;
  }
  .header .caption {
    h1 {
      font-size: 32px;
      margin-top: 5px;
    }
    h3 {
      letter-spacing: 1px;
    }
  }
  .btn {
    padding: 8px 16px;
    font-size: 12px;
  }
  .blogs .posts .post .content {
    padding: 20px;
    .post-title h5 {
      font-size: 22px;
    }
  }
  ul.countdown li {
    padding: 0 8px;
    span {
      font-size: 22px;
    }
  }
  .contact .info .item .cont h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: $mobile-sm-screen) {
  .header .caption h1 {
    font-size: 20px;
    margin-top: 5px;
  }
}