/*-----------------------------------------------------------------------------------

    Theme Name: Fabrex - App Landing Template
    Description: App Landing Template
    Author: Chitrakoot Web

-----------------------------------------------------------------------------------*/
/* ----------------------------------

    01. Common styles
    02. Navbar
    03. Header
    04. Banner
    05. Features
    06. Newsletter
    07. Scroll to top
    
---------------------------------- */

$PrimaryColor: #fe4b8c;
$SecondaryColor: #884bdf;
$HighLightColor: #fdd947;
$ThemeRgbColor: rgb(0, 9, 128);

$desk-xl-screen: 1399px;
$desk-lg-screen: 1200px;
$desk-md-screen: 1199px;
$desk-md-sm-screen: 1170px;
$desk-small-screen: 1024px;
$desk-sm-screen: 992px;
$desk-xs-screen: 991px;
$tablet-sm-screen: 768px;
$tablet-xs-screen: 767px;
$mobile-sm-screen: 575px;

@mixin bg-primary-gradient(){
  background: $PrimaryColor;
  background: -webkit-linear-gradient(to right bottom, $PrimaryColor, #f953ac, #eb61ca, #d571e7, #b682ff);
  background: -moz-linear-gradient(to right bottom, $PrimaryColor, #f953ac, #eb61ca, #d571e7, #b682ff);
  background: -o-linear-gradient(to right bottom, $PrimaryColor, #f953ac, #eb61ca, #d571e7, #b682ff);
  background: linear-gradient(to right bottom, $PrimaryColor, #f953ac, #eb61ca, #d571e7, #b682ff); 
}

/* ===================================
    Common styles
====================================== */

/* loader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  display: table;
  text-align: center;
}

.loader {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
}

.loader-icon {
  width: 80px;
  height: 80px;
  border: 5px solid $PrimaryColor;
  border-right-color: #eee;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  margin: 0 auto;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

 iframe {
  border: 0;
}

.height-100vh {
  height: 100vh;
}

.bg-theme, .theme-overlay[data-overlay-dark]:before {
  @include bg-primary-gradient();
}

.border-radius-30 {
  border-radius: 30px;
}

.text-theme-color {
  color: $PrimaryColor;
}

.bg-gradient-theme {
  @include bg-primary-gradient();
}

/*Button styles*/
.btn {
  display: inline-block;
  border: 2px solid transparent;
  line-height: inherit;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 150px;
  z-index: 1;
  overflow: hidden;
  &.btn-very-small {
    font-size: 9px;
    padding: 1px 17px;
    line-height: 22px;
  }
  &.btn-small {
    font-size: 11px;
    padding: 4px 24px;
  }
  &.btn-medium {
    font-size: 12px;
    padding: 12px 25px 11px;
  }
  &.btn-large {
    font-size: 13px;
    padding: 9px 34px;
    line-height: 25px;
  }
  &.btn-extra-large {
    font-size: 15px;
    padding: 12px 40px 13px;
    line-height: 25px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 1000%;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
    transform-origin: 0% 0%;
    transform: translateX(calc(20% - 20px)) translateY(10%) rotate(-45deg);
    transition: transform 0.3s;
  }
  &:hover:after {
    transform: translateY(10%) translateX(-20px) rotate(-45deg);
  }
  padding: 15px 10px;
  border-radius: 0;
  border: none;
  letter-spacing: .5px;
  font-family: "Montserrat", sans-serif;
  background: $PrimaryColor;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  i {
    margin-left: 6px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}

.btn {
  &:hover, &:active {
    background-color: $HighLightColor !important;
    color: #232323;
  }
  &:focus {
    background-color: $HighLightColor !important;
    color: #232323;
    box-shadow: none !important;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .btn {
    padding: 15px 10px;
  }
}

/*============================== 
    Navbar
================================*/

.logo {
  padding: 15px 0;
  width: 140px;
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 9999;
  min-height: 70px;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  .icon-bar {
    color: #fff;
  }
  .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 600;
    color: #eee;
    letter-spacing: .5px;
    margin: 0;
    padding: 10px 15px;
    transition: all .5s;
    text-align: left;
    text-transform: uppercase;
    &:hover {
      color: rgba(255, 255, 255, 0.65);
    }
    &.active {
      color: rgba(255, 255, 255, 0.65);
      position: relative;
    }
  }
}

.nav-scroll {
  background: $SecondaryColor;
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  transition: transform .5s;
  transform: translateY(100px);
  z-index: 99;
  .icon-bar, .navbar-nav .nav-link {
    color: #fff;
  }
}

.navbar-toggler {
  background: $PrimaryColor;
  width: 40px;
  height: 35px;
  padding: 0;
  border-radius: 0;
  position: absolute;
  right: 15px;
  top: 21px;
  cursor: pointer;
  z-index: 12399994;
  border: none;
  .icon-bar {
    &:after {
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      top: 17px;
      border: 0;
      height: 2px;
      width: 19px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: 10px;
      display: block;
      content: "";
    }
    &:before {
      top: 17px;
      background: #fff;
      width: 19px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      position: absolute;
      right: 10px;
      display: block;
      height: 2px;
      content: "";
    }
  }
  &.collapsed .icon-bar {
    &:after {
      position: absolute;
      top: 17px;
      right: 10px;
      display: block;
      height: 8px;
      width: 20px;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      content: "";
      background: none;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    &:before {
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      position: absolute;
      top: 11px;
      right: 10px;
      display: block;
      height: 2px;
      width: 20px;
      background: #fff;
      content: "";
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
  }
}

.nav-scroll .navbar-nav .logo {
  padding: 15px 0;
}

@media screen and (min-width: $desk-sm-screen) {
  .navbar-expand-lg .navbar-collapse.desktop-hide {
    display: none !important;
  }
}

@media screen and (max-width: $desk-xl-screen) {
  .navbar > .container {
    padding-right: 3.5rem;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .navbar .navbar-nav {
    .nav-link {
      padding: 10px;
      font-size: 12px;
    }
    .btn.small {
      margin-left: 5px;
      padding: 4px 16px;
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .logo {
    padding: 11px 0 8px 0;
  }
  .navbar {
    .navbar-nav {
      .nav-link {
        &.active {
          color: $PrimaryColor;
        }
        border-bottom: 1px solid #383838;
      }
      .btn.small {
        margin: 10px 5px;
      }
    }
    border: none;
    > .container {
      padding-right: 0;
      position: relative;
    }
    .navbar-collapse {
      background: #232323;
      text-align: center;
    }
    .navbar-toggler {
      padding: 8px 0;
      text-align: right;
      width: 40px;
      top: 22px;
    }
    .nav-link {
      display: block;
    }
    .navbar-nav .active:after {
      width: 100%;
    }
  }
  .nav-scroll .navbar-collapse {
    .nav-link {
      color: #fff !important;
    }
    .active {
      color: $PrimaryColor !important;
    }
    .btn.active {
      color: #fff !important;
    }
  }
}

/*============================== 
    Header
================================*/

.header {
  overflow: hidden;
  .caption h1 {
    color: #fff;
    margin: 10px 0;
    font-size: 70px;
    font-weight: 700;
    animation-delay: 0.8s;
  }
  .btn i {
    position: relative;
    top: 1px;
  }
  .arrow {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;
    a {
      color: #fff;
      &:hover {
        color: $PrimaryColor;
      }
    }
    i {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 32px;
      font-size: 12px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eb3007;
        border-radius: 50%;
        z-index: -1;
        transition: all .2s;
      }
      &:hover:after {
        background: #fff;
        transform: scale(1.2);
        transition: all .5s;
      }
    }
  }
  .social-links {
    a {
      display: inline-block;
      margin: 0 12px;
      font-size: 18px;
      &:hover {
        opacity: 0.85;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: $desk-lg-screen) {
  .header {
    height: 100vh;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .header .caption h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .header {
    transition-timing-function: none;
    -moz-transition-timing-function: none;
    -webkit-transition-timing-function: none;
    -o-transition-timing-function: none;
    -ms-transition-timing-function: none;
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    -ms-transition-duration: 0s;
    .caption {
      top: 55%;
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 30px;
      }
    }
    .social-links a {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .header .caption {
    h1 {
      font-size: 32px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    h3 {
      letter-spacing: 1px;
    }
  }
}

@media screen and (max-width: $mobile-sm-screen) {
  .header .caption h1 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 12px;
  }
}

/*============================== 
    Banner
================================*/
 
.banner-headline {
  font-size: 3rem;
  line-height: 1.2;
  &.medium {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: $tablet-sm-screen) {
  .banner-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: $desk-md-sm-screen) {
  .banner-headline {
    font-size: 6rem;
    &.medium {
      font-size: 5rem;
      line-height: 1.2;
    }
  }
}

.banner-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    &.is-visible {
      position: relative;
    }
  }
}

.no-js .banner-words-wrapper b {
  opacity: 0;
  &.is-visible {
    opacity: 1;
  }
}

/* xclip */
.banner-headline {
  &.clip {
    span {
      display: inline-block;
      padding: .2em 0;
    }
    .banner-words-wrapper {
      overflow: hidden;
      vertical-align: top;
      &:after {
        content: '';
        position: absolute;
        top: 10%;
        right: 0;
        width: 2px;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.65);
      }
    }
    b {
      opacity: 0;
    }
  }
  b.is-visible {
    opacity: 1;
  }
}

.banner-device img {
  max-height: 100vh;
}

@media screen and (max-width: $desk-xl-screen) {
  .banner-device img {
    max-height: 80vh;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .banner-device img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .banner-device img {
    max-height: 75vh;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .banner-device img {
    max-height: 55vh;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .banner-device img {
    max-height: 50vh;
  }
}

@media screen and (max-width: $mobile-sm-screen) {
  .banner-device {
    display: none;
  }
}


/* ===================================
    Features
====================================== */

/* infinite animation */
.infinite-floating {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: Floating;
  animation-timing-function: ease-in-out;
}

@keyframes Floating {
  0% {
    transform: translate(0px, 0px);
  }

  65% {
    transform: translate(0px, 30px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

/* app download */
.app-download-btn {
  a {
    background: #fff;
    &:hover {
      background: $PrimaryColor;
      color: #fff;
      border-color: transparent !important;
    }
  }
  p {
    line-height: 1;
  }
}

/* video area */
.video-area {
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  border: 20px solid #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
  height: 650px;
  .video_btn {
    width: 80px;
    height: 80px;
    background-color: $PrimaryColor;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 36px;
    line-height: 80px;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    &:hover {
      background: $SecondaryColor;
    }
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      height: 80px;
      width: 80px;
      border: 2px solid #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      opacity: .3;
      animation: pulse-border 1500ms ease-out infinite;
    }
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      height: 95px;
      width: 95px;
      border: 2px solid #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      opacity: .3;
      animation: pulse-border 1500ms ease-out infinite;
    }
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media screen and (max-width: $desk-md-screen) {
  .video-area {
    height: 500px;
    border-radius: 10px;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .video-area {
    height: 350px;
    border-radius: 5px;
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .video-area {
    border: 10px solid #fff;
  }
}

/* counter section */
#counter {
  margin-top: -50px;
}

@media screen and (max-width: $desk-xs-screen) {
  #counter {
    margin-top: -30px;
  }
}

/* App screenshot */
.app_screenshots_slides {
  * {
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
  }
  .single-shot {
    opacity: 0.7;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    text-align: center;
  }
  .center .single-shot {
    opacity: 1;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.app-screenshots-area {
  button.owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid $SecondaryColor;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
    margin-top: 50px;
    &.active {
      background-color: $PrimaryColor;
      border-color: $PrimaryColor;
    }
  }
  .owl-dots {
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

/* owl carousel */
.owl-carousel {
  .owl-item img {
    width: auto;
    display: inline-block;
  }
  .owl-nav {
    .owl-next {
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      margin-top: -22px;
      position: absolute;
      top: 50%;
      width: 27px;
      z-index: 10;
    }
    .owl-prev {
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      margin-top: -22px;
      position: absolute;
      top: 50%;
      width: 27px;
      z-index: 10;
      left: 15px;
    }
    .owl-next {
      right: 15px;
    }
  }
  .owl-item {
    cursor: url("../img/cursor.png"), move;
  }
}

/*testimonial style*/
.testimonials-section {
  .testimonial-grid {
    overflow: hidden;
    padding: 25px;
    -moz-box-shadow: 0 5px 10px rgba($ThemeRgbColor, 0.035), 0 7px 18px rgba($ThemeRgbColor, 0.05);
    -ms-box-shadow: 0 5px 10px rgba($ThemeRgbColor, 0.035), 0 7px 18px rgba($ThemeRgbColor, 0.05);
    -webkit-box-shadow: 0 5px 10px rgba($ThemeRgbColor, 0.035), 0 7px 18px rgba($ThemeRgbColor, 0.05);
    -o-box-shadow: 0 5px 10px rgba($ThemeRgbColor, 0.035), 0 7px 18px rgba($ThemeRgbColor, 0.05);
    box-shadow: 0 5px 10px rgba($ThemeRgbColor, 0.035), 0 7px 18px rgba($ThemeRgbColor, 0.05);
    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .testmonial-holder {
    float: left;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 150px;
    img {
      width: 150px;
      border-radius: 150px;
    }
  }
  .testimonial-grid .details {
    width: calc(100% - 175px);
    float: left;
    padding: 0 0 0 30px;
    position: relative;
    i {
      font-size: 24px;
      color: $PrimaryColor;
    }
    p {
      margin-bottom: 10px;
    }
    h4 {
      font-size: 18px;
      line-height: 30px;
    }
    span {
      font-size: 12px;
      color: $PrimaryColor;
    }
  }
  .client-info > span {
    font-weight: 500;
    text-transform: uppercase;
  }
  .custom-dot {
    display: inline-block;
    z-index: 1;
    margin-top: 30px;
    span {
      width: 12px;
      height: 12px;
      margin: 5px;
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer;
      display: block;
      border: 1px solid #fff;
      -webkit-backface-visibility: visible;
      border-radius: 30px;
      transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      &:hover {
        background: rgba(0, 0, 0, 0.2);
        -webkit-backface-visibility: visible;
        border-radius: 30px;
      }
    }
    &.active span {
      width: 12px;
      height: 12px;
      background: #86bc42;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
    }
  }
  .owl-nav {
    i {
      color: #232323;
      font-size: 18px;
      padding-top: 6px;
    }
    .owl-next {
      color: #232323;
      font-size: 43px;
      text-align: center;
      width: 40px;
      height: 40px;
      background: #fff !important;
      position: absolute;
      vertical-align: top;
      line-height: 8px;
    }
    .owl-prev {
      color: #232323;
      font-size: 43px;
      text-align: center;
      width: 40px;
      height: 40px;
      background: #fff !important;
      position: absolute;
      vertical-align: top;
      line-height: 8px;
      left: -75px;
      top: 40%;
      -moz-transition: all .4s ease 0s;
      -ms-transition: all .4s ease 0s;
      -webkit-transition: all .4s ease 0s;
      -o-transition: all .4s ease 0s;
      transition: all .4s ease 0s;
      -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      -ms-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      -o-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    }
    .owl-next {
      right: -75px;
      top: 40%;
      -moz-transition: all .4s ease 0s;
      -ms-transition: all .4s ease 0s;
      -webkit-transition: all .4s ease 0s;
      -o-transition: all .4s ease 0s;
      transition: all .4s ease 0s;
      -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      -ms-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      -o-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
      box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    }
  }
}

@media screen and (max-width: $desk-md-screen) {
  .testimonials-section .testimonial-grid p {
    font-size: 15px;
  }
}

@media screen and (max-width: $desk-xs-screen) {
  .testimonials-section {
    .testmonial-holder {
      width: 125px;
      img {
        width: 125px;
        border-radius: 125px;
      }
    }
    .testimonial-grid {
      p {
        font-size: 14px;
        line-height: 26px;
      }
      .details h4 {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .testimonials-section {
    .testmonial-holder {
      border-width: 5px;
    }
    .testimonial-grid {
      padding: 20px;
      .details {
        width: 100%;
        padding-left: 0;
      }
    }
    .testmonial-holder {
      float: none;
      margin: 0 auto 15px auto;
      display: inherit;
    }
    .testimonial-grid .details {
      i {
        font-size: 20px;
      }
      h4 {
        font-size: 15px;
        line-height: 24px;
      }
      span {
        font-size: 11px;
      }
    }
  }
}

/* ===================================
    Newsletter
====================================== */
 
.newsletter-form {
  input {
    display: inline-block;
    background: #fff;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
    outline: 0;
    border: 2px solid #eee;
    min-width: 270px;
    max-width: 100%;
    -moz-border-radius-top-left: 30px;
    -ms-border-radius-top-left: 30px;
    -webkit-border-top-left-radius: 30px;
    -o-border-radius-top-left: 30px;
    border-top-left-radius: 30px;
    -moz-border-radius-bottom-left: 30px;
    -ms-border-radius-bottom-left: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -o-border-radius-bottom-left: 30px;
    border-bottom-left-radius: 30px;
    padding: 12px 20px;
    width: auto;
  }
  button {
    display: inline-block;
    vertical-align: top;
    background: $PrimaryColor;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 12px;
    -moz-border-radius-top-right: 30px;
    -ms-border-radius-top-right: 30px;
    -webkit-border-top-right-radius: 30px;
    -o-border-radius-top-right: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottom-right: 30px;
    -ms-border-radius-bottom-right: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -o-border-radius-bottom-right: 30px;
    border-bottom-right-radius: 30px;
    padding: 14px 20px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      background: $HighLightColor;
      color: #232323;
    }
  }
}

@media screen and (max-width: $tablet-xs-screen) {
  .newsletter-form {
    button {
      margin-top: 15px;
      border-radius: 30px;
      width: 100%;
      display: block;
    }
    input {
      border-radius: 30px;
      width: 100%;
      display: block;
    }
  }
}

/* ===================================
    Scroll to top
====================================== */
.scroll-to-top {
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  background: $PrimaryColor;
  border: 1px solid transparent;
  width: 35px;
  height: 35px;
  line-height: 30px;
  z-index: 9999;
  outline: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all 0.3s ease;
  i {
    color: #fff;
  }
  &:hover {
    color: #232323;
    background: $HighLightColor;
    i {
      color: #232323;
    }
  }
  &:visited {
    color: #232323;
    text-decoration: none;
  }
}